//// General style of doctors section
#doctors-section {
  padding: 40px 0;
  background-color: $bg-section;
  text-align: center;
  color: $dark-grey;
  img {
    height: 60px;
  }
  h3 {
    font-size: 26px;
    font-weight: lighter;
    margin: 15px 0;
    //* Pseudoelement to create a separator
    &::after {
      content: "";
      width: 200px;
      border: 0.5px solid $light-grey;
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  p {
    margin: 0 auto;
    width: 500px;
    line-height: 30px;
    font-weight: lighter;
    font-size: 17px;
    text-align: center;
  }
}
//// Style card container
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  li {
    list-style-type: none;
  }
}
  