#doctors-section {
  background-color: $bg-section;
}
//// Style card container
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  li {
    list-style-type: none;
  }
}
  