//// Style welcome section
#welcome-section {
  margin-top: 50px;
  h3 {
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: 20px;
    color: $dark-grey;
  }
}
.description-section {
  width: 500px;
  margin: 0 auto;
  line-height: 30px;
  font-weight: lighter;
  color: $dark-grey;
}
//* Card-info style 
.card-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      img {
        height: 60px;
        margin-top: 20px;
      }
      h4 {
        font-size: 16px;
        font-weight: lighter;
        margin-top: 16px;
        color: $dark-grey;
      }
      p {
        width: 200px;
        margin-top: 16px;
        margin-bottom: 50px;
        font-size: 13px;
        color: $grey;
        font-weight: lighter;
        line-height: 20px;
      }
    }
  }

}
//// Hover effects
.card-info li:hover a h4 {
  color: $light-blue;
}
.card-info li:hover a p {
  color: $dark-grey;
}
