//// Style services card
#services {
    text-align: center;
    margin: 40px 0; 
    img {
        height: 60px;
    }
    h4 {
        font-weight: lighter;
        color: $dark-grey;
        font-size: 15px;
        margin: 16px 0;
    }
    p {
        font-weight: lighter;
        font-size: 14px;
        color: $grey; 
        width: 300px;
        line-height: 26px;
        margin-bottom: 60px;
    }
}
//* Hover effect
#services a:hover h4 {
    color: $primary-color;
}
#services a:hover p {
    color: $black;
}