//// Logo
#logo {
  height: 30px;
}
//// Background header
.bg-header {
  background-image: url("../assets/images/header-image-homepage.jpg");
  height: 74vh;
  background-size: cover;
}
//* Header bar style
#header-bar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}