#logo {
    height: 36px;
  }
  .bg-header {
    background-image: url("../assets/images/header-image-homepage.jpg");
  }
  #header-bar {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }