//// NAV-BAR STYLE
#nav-bar {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: lighter;
}
//* Style nav-bar item 
ul {
  display: flex;
  li {
    list-style-type: none;
    a {
      text-decoration: none;
      color: $white;
      padding: 0 20px;
      &.active, &:hover  {
        color: $primary-color;
      }
    }
  }
}
//* Button nav-bar style
button {
  font-size: 10px;
  font-weight: lighter;
  padding: 6px 16px;
}
  