//// STYLE SECTION CONTACTS
.contact-info {
  h6 {
    font-weight: 300;
    font-size: 14px;
    color: $dark-grey;
    //* Pseudoelement 
    &::after {
      content: "";
      width: 30px;
      border: 1px solid $primary-color;
      display: block;
      margin: 15px 0;
    }
  }
  i {
    color: $primary-color;
    font-size: 12px;
  }
  address {
    display: inline-block;
    font-size: 13px;
    font-weight: lighter;
    font-style: normal;
    padding-left: 10px;
    color: $grey;
    //? Hover effect
    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
  span {
    font-size: 13px;
    font-weight: lighter;
    padding-left: 7px;
    color: $grey;
    //? Hover effect
    &:hover {
      text-decoration: underline;
    }
  }
}

