//// Variables
$white: white;
$primary-color: #816CB2;
$black: black;
$grey: #7c858f;
$dark-grey: #46525f;
$light-grey: #bcbcbd;
$bg-section: #f1efef;
$fb-color: #3c5998;
$twitter-color: #54acee;
$insta-color: #3f729b; 
$emergency-color: #3aafbf;
$diagnostics-color: #3597c3;
$rehabilitation-color: #327ec7;