//// Variables
$white: white;
$light-blue: #39a7bb;
$black: black;
$grey: #7c858f;
$dark-grey: #46525f;
$light-grey: #bcbcbd;
$bg-section: #f1efef;
$fb-color: #3c5998;
$twitter-color: #54acee;
$insta-color: #3f729b; 